<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SaleforcreRestAPI">
    <classes>
            
      <class name="chain.CreateLead"/>
      <class name="chain.UpdateLead"/>
      <class name="chain.GetLead"/>
      <class name="chain.DeleteLead"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
